* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}
img{
    vertical-align: top;
}


p {
    font-size: 16px;
}


h1,
h2,
h3,
h3,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

h1 {
    font-size: 110px;
    text-transform: uppercase;
    color:#5a3733;

}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: black;
    font-family: 'Open Sans',sans-serif;

}


header {
    position: relative;
    height: 950px;
    background: url(../img/backgrounds/header-background.jpg) center center/cover no-repeat;
}

.header_menu {
    display: flex;
    position: relative;
    padding: 30px 15px;
}

.menu {
    display: flex;
}

.header_nav {
    position: absolute;
    right: 15px;
    top: 30px;

}

.header_menu .buy_link {
    border: 1px;
}

.logo {
    position: absolute;
    left: 15px;
    top: 15px;

}

.header_content {
    display: flex;
    flex-direction: column;
    margin: 300px auto;
}


.logo_img {
    height: auto;
    width: 192px;
}


.footer-menu {
    padding: 4px;
}

.footer-menu li {
    display: inline;
}

.transition {
    background: url(../img/backgrounds/howtoorder-background.png) 0 center no-repeat;
}

.how-is-made {
    background: url(../img/backgrounds/howismade-background.jpg) fixed;
    background-size: cover;
}

.how-to-order {
    background-color: rgb(247, 189, 0);
}

.types-of-honey ul {
    list-style-image: url(../icons/typesofhoney/check-icon.png);
}