@import url(../css/fontsans.css);
@import url(../css/fontsans2.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

h1,h2,h4,h5 {
    text-transform: uppercase;
    font-weight: bold;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 110px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 16px;
}

.menu {
    padding: 4px;
}

.menu li {
    display: inline;
}

header {
    position: relative;
    height: 950px;
    background: url(../img/backgrounds/header-background.jpg) center center/cover no-repeat;
}

.header_menu {
    position: relative;
    padding: 30px 15px;
}
.header_content {
    display: flex;
    flex-direction: column;
    margin: 300px auto;
}

.header_nav{
    position: absolute;
    right: 15px;
    top: 30px;
    
}
.logo {
    position: absolute;
    left: 15px;
    top: 15px;

}
.logo_img{
    height: auto;
    width: 192px;
}


.footer-menu {
    padding: 4px;
}

.footer-menu li {
    display: inline;
}

.transition {
    background: url(../img/backgrounds/howtoorder-background.png) 0 center no-repeat;
}

.how-is-made {
    background: url(../img/backgrounds/howismade-background.jpg) fixed;
    background-size: cover;
}

.how-to-order {
    background-color: rgb(247, 189, 0);
}

.types-of-honey ul {
    list-style-image: url(../icons/typesofhoney/check-icon.png);
}